
node_modules/*
bower_components/*
textures/*
OculusCar/*
models/*
\#examples\ &\ tutorials/*
js/lib*
\#old/*
*.json
carphysics2d/*
\#threejs.docs/*
*old*/*
typings/*
logs/*

webpack/bundle*

.DS_Store
media/*
*.idea*
*__pycache__*